body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    text-align: center;
}

#guessInput {
    margin: 20px;
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

#timer {
    font-size: 20px;
    color: red;
}
